<!doctype html>
<html>
<head>
    <title>UI</title>
    <link href="css/gateway-assets.css" rel="stylesheet">
</head>

<body ng-app="UI" ng-controller="navigation as nav">
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/" ng-click="nav.home()">Group 5 Webshop</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href='#/' ng-click="nav.products()">Products</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div ng-include="nav.template"></div>
</div>

<script src="js/gateway-assets.js" type="text/javascript"></script>
<script src="js/gateway.js" type="text/javascript"></script>
</body>
</html>